body {
    font-family: sans-serif;
}
a{
    color: black;
    padding: 10px;
}
main img{
    height:100px;
    padding: 10px;
    border-left: 10px dotted black;
}

main{
    text-align: center;
}
main p{
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px;
     text-align: left;
}
footer{
    background-color: black;
    padding: 3px;

}
footer p{
    background-color: white;
    padding: 5px;
}
